<h3>Books other people are reading</h3>
<br />
<div>
  <h4 class="card-title text-muted">Here are <%= pluralize(@books.count, "book")%> that you may enjoy:</h4>

</div>
          <div class="row container-fluid books">
        <% @books.each do |book|%>
        
        <div class="col-md-3 col-sm-6">
            <a href = "<%= books_url(book.id) %>">
                <%= link_to image_tag(book.image), book_path(book), class: "book" %>
                            
            </a>
          </div>

        <%end%>
        </div>
