<p id="notice"><%= notice %></p>

<h1>Books</h1>



 <% @books.each do |book|%>
        <div class="card mb-3">
          <div class="card-horizontal">
            
            <div class="card-body">
						
              <h4 class="journal-title"> <%= link_to book.title, book_path(book), class:"text-decoration-none text-muted" %></h4>
              <p class = "description"> Description: <%= link_to book.description, book_path(book)%></p>
               
            </div>
          </div>
<%end%>
<%= link_to 'New Book', new_book_path %>
