// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@mixin background-tile {
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 1.5em 1.25em;
}

//Book styles
input {
  display: none;
}

.image-field input {
  display: block;
}

.books {
  display: flex;
  flex-direction: row;
}

.book img {
  vertical-align: middle;
  border-style: none;
  height: 250px;
  width: 170px;
}

.book-show img {
  height: 375px;
  width: 245px;
}

//stars

.test-group {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  width: max-content;
}

input:checked ~ label {
  color: #ffdd40;
}

.starred ~ i,
.starred {
  color: #ffdd40;
}

.starred-div {
  display: flex;
  flex-direction: row-reverse;
}

/* Book styles */

.book-info {
  @include background-tile;

  .book-title {
    margin-top: 0;
    font-size: 2em;
  }

  .number-of-reviews {
    font-size: 0.85em;
    font-style: italic;
  }

  .book-author {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;

    span {
      font-size: 0.8em;
    }
  }

  .book-desc {
    font-size: 1.05em;
    line-height: 1.5;
    margin-bottom: 15px;
    margin-top: 15px;
  }
}

.group-check input {
  display: inline-block;
}

.book-group img {
  height: 220px;
  width: 180px;
}

.form-group input {
  display: inline-block;
}
