<head>
  <%= stylesheet_link_tag 'reviews.css' %>
<head>
            <div class="starred-div">
              <%= star_reviews(@average_review) %>
            </div>
<p>  <%= review.comment %> </p>

<%= edit_review %>