<head>
  <%= stylesheet_link_tag 'reviews.css' %>
<head>
            <div class="starred-div">
              <%= star_reviews(@average_review) %>
            </div>
<p>  <%= review.comment %> </p>

<% if user_signed_in? %>
		<% if review.user_id == current_user.id %>
			<div>
        <%= link_to "Edit", edit_book_review_path(review.book, review), class: "btn btn-custom" %>
			</div>
    <% end %>
<% end %>