<nav class="navbar navbar-expand-lg navbar-light brand">
  <%= link_to 'GeeksRead', root_path, class: "navbar-brand text-white", style: "
    font-family: sans-serif;" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to 'Back', root_path, class:"text-white nav-link", style: "
    font-family: sans-serif; " %>
    </li>

<%= signed_in %>




    </ul>

  </div>


</nav>
